
CREATE DATABASE [WebAppYte]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebAppYte].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

ALTER DATABASE [WebAppYte] SET ANSI_NULL_DEFAULT ON;
ALTER DATABASE [WebAppYte] SET ANSI_NULLS ON;
ALTER DATABASE [WebAppYte] SET ANSI_PADDING ON;
ALTER DATABASE [WebAppYte] SET ANSI_WARNINGS ON;
ALTER DATABASE [WebAppYte] SET ARITHABORT ON;
ALTER DATABASE [WebAppYte] SET CONCAT_NULL_YIELDS_NULL ON;

ALTER DATABASE [WebAppYte] SET QUOTED_IDENTIFIER ON;
ALTER DATABASE [WebAppYte] SET NUMERIC_ROUNDABORT OFF;

ALTER DATABASE [WebAppYte] SET AUTO_CLOSE OFF;
ALTER DATABASE [WebAppYte] SET AUTO_SHRINK OFF;
ALTER DATABASE [WebAppYte] SET AUTO_UPDATE_STATISTICS ON;
ALTER DATABASE [WebAppYte] SET AUTO_UPDATE_STATISTICS_ASYNC ON;

ALTER DATABASE [WebAppYte] SET READ_COMMITTED_SNAPSHOT ON;
ALTER DATABASE [WebAppYte] SET ALLOW_SNAPSHOT_ISOLATION ON;

ALTER DATABASE [WebAppYte] SET RECOVERY SIMPLE;

ALTER DATABASE [WebAppYte] SET PAGE_VERIFY CHECKSUM;
ALTER DATABASE [WebAppYte] SET TARGET_RECOVERY_TIME = 60 SECONDS;

ALTER DATABASE [WebAppYte] SET QUERY_STORE = ON;
ALTER DATABASE [WebAppYte] SET QUERY_STORE (OPERATION_MODE = READ_WRITE);

EXEC sys.sp_db_vardecimal_storage_format N'WebAppYte', N'ON';

--BẢNG GIỚI TÍNH  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GioiTinh](
	[IDGioiTinh] [int] IDENTITY(1,1) NOT NULL,
	[GioiTinh] [nvarchar](6) NULL,
 CONSTRAINT [PK_GioiTinh] PRIMARY KEY CLUSTERED 
(
	[IDGioiTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--BẢNG HUYỆN  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Huyen](
	[IDHuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenHuyen] [nvarchar](30) NULL,
 CONSTRAINT [PK_Huyen] PRIMARY KEY CLUSTERED 
(
	[IDHuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--BẢNG NGƯỜI DÙNG  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[NguoiDung](
	[IDNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [nchar](100) NULL,
	[DienThoai] [nchar](20) NULL,
	[TaiKhoan] [nchar](50) NULL,
	[MatKhau] [nchar](20) NULL,
	[IDGioiTinh] [int] NULL,
	[DiaChiCuThe] [nvarchar](max) NULL,
	[SoCMND] [int] NULL,
	[IDHuyen] [int] NULL,
	[ThongTinKhac] [nvarchar](max) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[IDNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

--BẢNG KHOA  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Khoa](
	[IDKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[IDKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

--BẢNG QUẢN TRỊ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[QuanTri](
	[IDQuanTri] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nchar](50) NULL,
	[MatKhau] [nchar](20) NULL,
	[ThongTinBacSi] [nvarchar](max) NULL,
	[TrinhDo] [nvarchar](50) NULL,
	[IDKhoa] [int] NULL,
	[HoTen] [nvarchar](max) NULL,
	[VaiTro] [int] NULL,
	[AnhBia] [nchar](50) NULL,
 CONSTRAINT [PK_QuanTri] PRIMARY KEY CLUSTERED 
(
	[IDQuanTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

--BẢNG HỎI ĐÁP  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[HoiDap](
	[IDHoidap] [int] IDENTITY(1,1) NOT NULL,
	[CauHoi] [nvarchar](max) NULL,
	[TraLoi] [nvarchar](max) NULL,
	[IDNguoiDung] [int] NULL,
	[IDQuanTri] [int] NULL,
	[NgayGui] [smalldatetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_HoiDap] PRIMARY KEY CLUSTERED 
(
	[IDHoidap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

--BẢNG LỊCH KHÁM
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LichKham](
	[IDLichKham] [int] IDENTITY(1,1) NOT NULL,
	[ChuDe] [nvarchar](100) NULL,
	[MoTa] [nvarchar](300) NULL,
	[BatDau] [smalldatetime] NULL,
	[KetThuc] [smalldatetime] NULL,
	[TrangThai] [int] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[KetQuaKham] [nvarchar](200) NULL,
	[IDNguoiDung] [int] NULL,
	[IDQuanTri] [int] NULL,
 CONSTRAINT [PK_LichKham] PRIMARY KEY CLUSTERED 
(
	[IDLichKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--BẢNG BỆNH ÁN 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[BenhAn](
	[IDBenhAn] [int] IDENTITY(1,1) NOT NULL,
	[KetQua] [nvarchar](max) NULL,
	[ThoiGian] [smalldatetime] NULL,
	[BacSyKham] [nvarchar](50) NULL,
	[DonThuoc] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[IDNguoiDung] [int] NULL,
	[IDLichKham] [int] NULL,
 CONSTRAINT [PK_BenhAn] PRIMARY KEY CLUSTERED 
(
	[IDBenhAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

--BẢNG TIN TỨC  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Tintuc](
	[IDTintuc] [int] IDENTITY(1,1) NOT NULL,
	[Tieude] [nvarchar](max) NULL,
	[Noidung] [nvarchar](max) NULL,
	[Hinhanh] [nvarchar](100) NULL,
	[Mota] [nvarchar](max) NULL,
	[Ngaydang] [smalldatetime] NULL,
	[TheLoai] [nchar](20) NULL,
 CONSTRAINT [PK_Tintuc] PRIMARY KEY CLUSTERED 
(
	[IDTintuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

--BẢNG TRUNG TÂM GẦN NHẤT 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[TrungTamGanNhat](
	[IDTrungTam] [int] IDENTITY(1,1) NOT NULL,
	[TenTrungTam] [nvarchar](100) NULL,
	[Mota] [nvarchar](max) NULL,
	[IDHuyen] [int] NULL,
 CONSTRAINT [PK_TrungTamGanNhat] PRIMARY KEY CLUSTERED 
(
	[IDTrungTam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

--DL BẢNG GIỚI TÍNH 
SET IDENTITY_INSERT [dbo].[GioiTinh] ON 

INSERT [dbo].[GioiTinh] ([IDGioiTinh], [GioiTinh]) VALUES (1, N'Nam')
INSERT [dbo].[GioiTinh] ([IDGioiTinh], [GioiTinh]) VALUES (2, N'Nữ')
INSERT [dbo].[GioiTinh] ([IDGioiTinh], [GioiTinh]) VALUES (3, N'Khác')

SET IDENTITY_INSERT [dbo].[GioiTinh] OFF
GO

--DL BẢNG HUYỆN 
SET IDENTITY_INSERT [dbo].[Huyen] ON

INSERT [dbo].[Huyen] ([IDHuyen], [TenHuyen]) VALUES (1, N'Xã Long Hữu')
INSERT [dbo].[Huyen] ([IDHuyen], [TenHuyen]) VALUES (2, N'Xã An Trường')
INSERT [dbo].[Huyen] ([IDHuyen], [TenHuyen]) VALUES (3, N'Xã Tân An')

SET IDENTITY_INSERT [dbo].[Huyen] OFF
GO

--DL BẢNG NGƯỜI DÙNG 
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([IDNguoiDung], [HoTen], [Email], [DienThoai], [TaiKhoan], [MatKhau], [IDGioiTinh], [DiaChiCuThe], [SoCMND], [IDHuyen], [ThongTinKhac]) VALUES (206, N'Trần Minh Hoàng', N'minhhoang123@gmail.com', N'0905123456', N'mhoang', N'123456', 1, N'Phường Trà Vinh', 123456001, 31, NULL)
INSERT [dbo].[NguoiDung] ([IDNguoiDung], [HoTen], [Email], [DienThoai], [TaiKhoan], [MatKhau], [IDGioiTinh], [DiaChiCuThe], [SoCMND], [IDHuyen], [ThongTinKhac]) VALUES (207, N'Lê Thị Hồng', N'lehong@gmail.com', N'0987554321', N'lehong', N'123456', 2, N'Phường Duyên Hải', 123456002, 35, NULL)
INSERT [dbo].[NguoiDung] ([IDNguoiDung], [HoTen], [Email], [DienThoai], [TaiKhoan], [MatKhau], [IDGioiTinh], [DiaChiCuThe], [SoCMND], [IDHuyen], [ThongTinKhac]) VALUES (208, N'Phạm Quốc Anh', N'quocthanh@gmail.com', N'0916123456', N'quocanh', N'654321', 1, N'Xã Càng Long', 123456003, 39, NULL)

SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO

--DL BẢNG KHOA
SET IDENTITY_INSERT [dbo].[Khoa] ON 

INSERT [dbo].[Khoa] ([IDKhoa], [TenKhoa], [MoTa]) VALUES (1, N'Khoa Cấp cứu – Hồi sức tích cực – Nội tổng hợp', N'Tiếp nhận cấp cứu, hồi sức bệnh nặng và điều trị các bệnh nội khoa thường gặp')
INSERT [dbo].[Khoa] ([IDKhoa], [TenKhoa], [MoTa]) VALUES (2, N'Khoa Ngoại – PTGMHS',  N'Phẫu thuật ngoại khoa và gây mê hồi sức trong các ca phẫu thuật')
INSERT [dbo].[Khoa] ([IDKhoa], [TenKhoa], [MoTa]) VALUES (3, N'Khoa Nhi', N'Khám và điều trị các bệnh lý cho trẻ sơ sinh và trẻ em')

SET IDENTITY_INSERT [dbo].[Khoa] OFF
GO

--DL BẢNG QUẢN TRỊ 
SET IDENTITY_INSERT [dbo].[QuanTri] ON 

INSERT [dbo].[QuanTri] ([IDQuanTri], [TaiKhoan], [MatKhau], [ThongTinBacSi], [TrinhDo], [IDKhoa], [HoTen], [VaiTro], [AnhBia]) VALUES 
(1008, N'sonhuyenvu', N'123456',
N'Bác sĩ CK2 chuyên khoa Tim mạch – Lão khoa, giàu kinh nghiệm trong thăm khám và điều trị bệnh lý tim mạch.',
N'BS.CK2', 1, N'Sơn Huyền Vũ', 2, NULL)
INSERT [dbo].[QuanTri] ([IDQuanTri], [TaiKhoan], [MatKhau], [ThongTinBacSi], [TrinhDo], [IDKhoa], [HoTen], [VaiTro], [AnhBia]) VALUES 
(1010, N'nguyenthnga', N'123456',
N'Bác sĩ CK1 chuyên khoa Nội tiết, giàu kinh nghiệm khám và điều trị bệnh lý nội tiết.',
N'BS.CK1', 5, N'Nguyễn Thị Nga', 2, NULL)
INSERT [dbo].[QuanTri] ([IDQuanTri], [TaiKhoan], [MatKhau], [ThongTinBacSi], [TrinhDo], [IDKhoa], [HoTen], [VaiTro], [AnhBia]) VALUES 
(1012, N'phantrungminh', N'123456',
N'Bác sĩ CK2 chuyên khoa Thần kinh – Xương khớp.',
N'BS.CK2', 1, N'Phan Trung Minh', 2, NULL)
SET IDENTITY_INSERT [dbo].[QuanTri] OFF
GO

--DL BẢNG HỎI ĐÁP 
SET IDENTITY_INSERT [dbo].[HoiDap] ON;


SET IDENTITY_INSERT [dbo].[HoiDap] OFF;
GO

--DL BẢNG LỊCH KHÁM 
SET IDENTITY_INSERT [dbo].[LichKham] ON 


SET IDENTITY_INSERT [dbo].[LichKham] OFF
GO

--ALTER TABLE [BenhAn] DROP CONSTRAINT FK_BenhAn_LichKham;
--ALTER TABLE [LichKham] DROP CONSTRAINT FK_LichKham_NguoiDung;
--TRUNCATE TABLE [dbo].[LichKham];


--DL BẢNG BỆNH ÁN 
SET IDENTITY_INSERT [dbo].[BenhAn] ON


SET IDENTITY_INSERT [dbo].[BenhAn] OFF

--DL BẢNG TIN TỨC 
SET IDENTITY_INSERT [dbo].[Tintuc] ON 

SET IDENTITY_INSERT [dbo].[Tintuc] OFF
GO

--BẢNG TRUNG TÂM GẦN NHẤT 
SET IDENTITY_INSERT [dbo].[TrungTamGanNhat] ON

INSERT INTO [dbo].[TrungTamGanNhat] ([IDTrungTam], [TenTrungTam], [Mota], [IDHuyen]) 
VALUES (16, N'Bệnh viện Đại học Trà Vinh', N'Số 126 Nguyễn Thiện Thành, Phường Trà Vinh
Điện thoại: 0294.385.1234
Email: bvdhtrv@gmail.com', 31)
INSERT [dbo].[TrungTamGanNhat] ([IDTrungTam], [TenTrungTam], [Mota], [IDHuyen]) 
VALUES (1, N'Trung tâm Y tế TP Trà Vinh', N'Địa chỉ: 45 Nguyễn Đáng, Phường Trà Vinh
Điện thoại: 0294.385.3366
Email: ttyttptv@gmail.com', 31)

INSERT [dbo].[TrungTamGanNhat] ([IDTrungTam], [TenTrungTam], [Mota], [IDHuyen]) 
VALUES (2, N'Trung tâm Y tế Thị xã Duyên Hải', N'Địa chỉ: 12 Lê Lợi, Phường Duyên Hải
Điện thoại: 0294.388.1122
Email: ttyttdxh@gmail.com', 35)














SET IDENTITY_INSERT [dbo].[TrungTamGanNhat] OFF
GO

-- Mặc định cho HoiDap
ALTER TABLE [dbo].[HoiDap] ADD CONSTRAINT [DF_HoiDap_NgayGui] DEFAULT (GETDATE()) FOR [NgayGui];
ALTER TABLE [dbo].[HoiDap] ADD CONSTRAINT [DF_HoiDap_TrangThai] DEFAULT ((0)) FOR [TrangThai];

-- Mặc định cho Tintuc
ALTER TABLE [dbo].[Tintuc] ADD CONSTRAINT [DF_Tintuc_Ngaydang] DEFAULT (GETDATE()) FOR [Ngaydang];

-- Bệnh án -> LichKham
ALTER TABLE [dbo].[BenhAn] WITH CHECK ADD CONSTRAINT [FK_BenhAn_LichKham] FOREIGN KEY([IDLichKham])
REFERENCES [dbo].[LichKham] ([IDLichKham]);
ALTER TABLE [dbo].[BenhAn] CHECK CONSTRAINT [FK_BenhAn_LichKham];

-- Bệnh án -> NguoiDung 
ALTER TABLE [dbo].[BenhAn] WITH CHECK ADD CONSTRAINT [FK_BenhAn_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung]);
ALTER TABLE [dbo].[BenhAn] CHECK CONSTRAINT [FK_BenhAn_NguoiDung];

-- HoiDap -> NguoiDung 
ALTER TABLE [dbo].[HoiDap] WITH CHECK ADD CONSTRAINT [FK_HoiDap_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung]);
ALTER TABLE [dbo].[HoiDap] CHECK CONSTRAINT [FK_HoiDap_NguoiDung];

-- HoiDap -> QuanTri 
ALTER TABLE [dbo].[HoiDap] WITH CHECK ADD CONSTRAINT [FK_HoiDap_QuanTri] FOREIGN KEY([IDQuanTri])
REFERENCES [dbo].[QuanTri] ([IDQuanTri]);
ALTER TABLE [dbo].[HoiDap] CHECK CONSTRAINT [FK_HoiDap_QuanTri];


-- LichKham -> NguoiDung
ALTER TABLE [dbo].[LichKham] WITH CHECK ADD CONSTRAINT [FK_LichKham_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung]);
ALTER TABLE [dbo].[LichKham] CHECK CONSTRAINT [FK_LichKham_NguoiDung];


-- LichKham -> QuanTri
ALTER TABLE [dbo].[LichKham] WITH CHECK ADD CONSTRAINT [FK_LichKham_QuanTri] FOREIGN KEY([IDQuanTri])
REFERENCES [dbo].[QuanTri] ([IDQuanTri]);
ALTER TABLE [dbo].[LichKham] CHECK CONSTRAINT [FK_LichKham_QuanTri];

-- NguoiDung -> GioiTinh
ALTER TABLE [dbo].[NguoiDung] WITH CHECK ADD CONSTRAINT [FK_NguoiDung_GioiTinh] FOREIGN KEY([IDGioiTinh])
REFERENCES [dbo].[GioiTinh] ([IDGioiTinh]);
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_GioiTinh];

-- QuanTri -> Khoa
ALTER TABLE [dbo].[QuanTri] WITH CHECK ADD CONSTRAINT [FK_QuanTri_Khoa] FOREIGN KEY([IDKhoa])
REFERENCES [dbo].[Khoa] ([IDKhoa]);
ALTER TABLE [dbo].[QuanTri] CHECK CONSTRAINT [FK_QuanTri_Khoa];

USE [master]
GO
